PyYAML
semver
mako
boto3
openpyxl
msrest
msrestazure
azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-subscription
azure-mgmt-storage
azure-mgmt-sql
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-resourcegraph
azure-mgmt-operationsmanagement		
azure-mgmt-search		
azure-mgmt-security		
azure-mgmt-consumption
