PyYAML
semver
mako
boto3
openpyxl
msrest
msal
azure-mgmt-subscription
azure-mgmt-consumption
azure-mgmt-resourcegraph
azure-identity
azure-mgmt-compute
msrestazure


# azure-mgmt-network
# azure-mgmt-storage
# azure-mgmt-sql
# azure-mgmt-keyvault
# azure-mgmt-resource
# azure-mgmt-operationsmanagement		
# azure-mgmt-search		
# azure-mgmt-security		
